<h1> Task-Project </h1>
<table border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= button_to "Show", task_path(task), :method => "get" %></td>
      </tr>
    <% end %>
  </tbody>
</table>