<h1>task show page</h1>
<%= button_to t('views.edit'), edit_task_path, :method => "get" %>
<div style="border: 1px solid black; width: 250px;">
  <div>title: <%= @task.title %></div>
  <div>content: <%= @task.content %></div>
</div>
<br>
<%= link_to t('views.home'), root_path %>
