<h1>task show page</h1>

<div style="border: 1px solid black; width: 250px;">
  <div>title: <%=@task.title%></div>
  <div>content: <%=@task.content%></div>
</div>
<br>
<%= link_to  "Index", root_path %>
