// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$white: white;
$black: black;

.navbar {
  margin-bottom: 0;
  background: $black;
}

.notify {
  margin-top: 5px;
  margin-bottom: 5px;
}

.action {
  display: flex;
  a {
    margin-left: 5px;
  }
}

.priority {
  input {
    margin-right: 5px;
    margin-left: 5px;
  }
}

tr.tr_pointer:hover {
  cursor: pointer;
}